
.bord-rand {border: 100px solid #EAEAEA;
	border-radius: 50%;
	position: absolute;
	width:0px;}

.bord-binnen {border: 90px solid #D7D7D7;
	border-radius: 50%;
	position: absolute;
	top: 10px;
	left: 10px;}
	
.pizzasnede { position: absolute;
	top:15px;}

.korst{
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 150px solid #773c21;
	border-radius: 50%;
	position: absolute;
}

.kaas{
	width: 0;
	height: 0;
	border-left: 95px solid transparent;
	border-right: 95px solid transparent;
	border-bottom: 142px solid #FF872D;
	border-radius: 50%;
	position: absolute;
	left:5px;
}

.salami{
	width: 0;
    height: 0;
    border-radius: 50%;
    position: absolute;
    border: 20px solid #9C2E0D;
}

.salami-half {
    width: 20px;
    height: 40px;
    -moz-border-radius: 75px 0 0 75px;
	border-radius: 75px 0 0 75px;
    position: absolute;
	transform: rotate(-34deg);
	background-color: #9C2E0D;
  }

.een {
	left: 100px;
    top: 67px;
}

.twee {
	left: 98px;
    top: 10px;
}

.drie {
	left: 45px;
    top: 82px;
}

#pizza{position:absolute;
	transition: transform 1s;
	transform-origin:100px 100px;
	display: block;
	width:200px;
	height:200px;
	margin:auto;
	padding:auto;
	margin-left: 42%;
    
	
}

#pizza:hover{
	position:absolute;
	transform: rotate(-10deg);	
	transform-origin:100px 100px;
}

@keyframes vallen {
	from {
    transform: translateY(-150%) scale(2);
  }
  to {
    transform: none;
  }
}

.pizzasnede .een{
	animation: vallen .8s ease-in;
}

.pizzasnede .twee{
	animation: vallen .5s ease-in;
}

.pizzasnede .drie{
	animation: vallen 1s ease-in;
}

#final{
  margin-left: 38%;
}
h1{	
  font-family: 'Roboto', sans-serif;
  margin-right: 5%;
  text-shadow: 3px 3px white;
  color:black;
  box-shadow: 0 0 15px 0 whitesmoke;
  width: 300px;
  height: 100px;
  border:1px solid wheat;
  border-radius: 0 20px 0 20px;
  background-color: #00000052;
 
}


div ul li{
   list-style-type: none;
   display:inline-block;
   /* font-family:cursive; */
   font-size: 20px;
   margin-left: 5%;
   padding-inline-end: 5px;
   font-weight: bold;
   transition: 1s all;
   font-family: 'Roboto', sans-serif;
   
}
div ul li:hover{
  box-shadow: 0 0 30px 0 white;
  color:black;
}
.indigo{
	width:100%;
	background-color: black;
	box-shadow: 0 0 10px 0 whitesmoke;
    
}  
div ul li:active{
  text-shadow:2px 2px orange;
}
body{
background: url('./components/pz3.jpg') no-repeat center center/cover ;

}
center div .btn{
    margin:5px;
}
.star{
	margin-left: 43%;
	margin-top: 2%;
}

select{
	padding:10px 19px;
	margin:5px;
	border-radius: 0 10px 0 10px;
	background-color: whitesmoke;
	border:transparent;
	font-weight: bold;
	text-overflow: clip;
	box-shadow: 0 0 40px 0 whitesmoke;
	transition: 1s all;
	font-family: 'Roboto', sans-serif;
}
select:hover{
	background-color: wheat;
	box-shadow: 0 0 30px 0 white;
	
}
select.big{
    padding:10px 38px;
}
select.bigger{
	padding:10px 28px;
	
}
select.biggest{
    padding:10px 36px;
}

#pizza{
	margin-top: 8%;
}
 
*{outline: none;}

@media only screen and (max-width: 780px) {
	
#final{
	margin-left: 22%;
	margin-top: 10%;
	  }
h1{
	margin-bottom: 5%;
	margin-right: 9%;
	text-shadow: 3px 3px white;
	color:black;
	font-weight:bolder;
	font-family: 'Roboto', sans-serif;
        box-shadow: 0 0 15px 0 #00000067;
        width: 200px;
        height: 100px;
        border:1px solid wheat;
        border-radius: 0 20px 0 20px;
        background-color: #00000059;
		
	  }
 div ul li{
	list-style-type: none;
	display:inline-block;
	font-size: 18px;
	margin-left: 10%;
	padding-inline-end: 2px;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	  }
 div ul li:hover{
	box-shadow: 0 0 30px 0 white;
		
}
.indigo{
	width:100%;
	background-color: black;
	margin-right: 30%;
	  }  
div ul li:active{
	text-shadow:2px 2px orange;
		
	  }
      
body{
	 background-image: url('./components/pz3.jpg') no-repeat cover ;
	 font-family: 'Roboto', sans-serif;
	  }
.star{
	 margin-left: 25%;
	 margin-top: 15%;
	}
select{
	padding:10px 19px;
	margin:5px;
	border-radius: 0 10px 0 10px;
	background-color: whitesmoke;
	border:transparent;
        font-weight: bold;
	text-overflow: clip;
        font-family: 'Roboto', sans-serif;
	  }
select:hover{
	background-color: wheat;
	box-shadow: 0 0 15px 0 white;
	  }
select.bigger{
	padding:10px 30px;
		  
 }
select.biggest{
        padding:10px 39px;
	  }
	  
#pizza{
        margin-top: 10%;
	  }
	
center div .btn{
        margin:2px;
       
    
    }
#pizza{
	position:absolute;
        transition: transform 1s;
        transform-origin:100px 100px;
        display: block;
        width:200px;
        height:200px;
        margin:auto;
        padding:auto;
        margin-left: 26%;
        margin-top:50%;
        
        
    }
}


  
